html,
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #3D5A80;
}

.header {
  position: absolute;
  top: 0;
  bottom: 100px;
  left: 0;
  right: 0;
  background-color: #67EFBF;
  height: 100px;
}

.header {
  padding: 5px 15px;
}

.container {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #293241;
  display: inline-block;
  text-align: center;
  padding: 5px;
}
